@keyframes slideDown {
  0% {background-position: 0% 100%;}
  100% {background-position: 0% -100%;}
}
@keyframes modalSlideDown {
  0% {margin-top: -100px; opacity: 0;}
  100% {margin-top: 0; opacity: 1;}
}
@keyframes doughnut-ani{
  0%{transform: translateY(-3px);}
  100%{transform: translateY(0px);}
}
@keyframes ySlide {
	0% {transform: translateY(0);}
	100% {transform: translateY(-100%);}
}
@keyframes xSlide {
	0% {transform: translateX(0);}
	100% {transform: translateX(-100%);}
}
@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
/* Scroll Animation */
/* y축 이동 */
.ani.y_Top{
  opacity: 0;
  transform: translateY(-40px);
}
.ani.y_Top.moving{
  opacity: 1;
  transform: translateY(0px);
  transition: 1s;
}

.ani.y_Bottom{
  opacity: 0;
  transform: translateY(40px);
}
.ani.y_Bottom.moving{
  opacity: 1;
  transform: translateY(0px);
  transition: 1s;
}

/* x축 이동 */
/* left -> */
.ani.x_Left{
  opacity: 0;
  transform: translateX(-40px);
}
.ani.x_Left.moving{
  opacity: 1;
  transform: translateX(0px);
  transition: 1s;
}

/* right -> */
.ani.x_Right{
  opacity: 0;
  transform: translateX(40px);
}
.ani.x_Right.moving{
  opacity: 1;
  transform: translateX(0px);
  transition: 1s;
}

/* img scale */
.ani.scale_Img img{
  opacity: 0;
  transform: scale(1.2);
}
.ani.scale_Img.moving img{
  opacity: 1;
  transform: scale(1);
  transition: 1s ease-in-out;
}

/* cover */
.ani.cover:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 101%;
  background-color: #fff;
  transition: 1s ease-in-out;
}
.ani.cover.moving:after{height: 0;}

/* delay */
.ani.delay02.y_Bottom.moving{transition-delay: .2s;}
.ani.delay03.moving{transition-delay: .3s;}
.ani.delay04.moving{transition-delay: .4s;}
.ani.delay05.moving{transition-delay: .5s;}
.ani.delay06.moving{transition-delay: .6s;}
.ani.delay07.moving{transition-delay: .7s;}
.ani.delay08.moving{transition-delay: .8s;}