html{scroll-behavior: smooth;}
body{color: #0c0c0c;}
section{padding: 150px 0;}
.mo-only{display: none;}
.mainSec{
  position: relative;
  z-index: 0;
  width: 100%;
  background-color: #0c0c0c;
}
.sec-inner{
  width: 1300px;
  margin: auto;
}
.sec-tit{
  width: 100%;
  color: #fff;
  text-align: center;
}
.sec-tit h2{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'OneStoreMobileGothicTitleFont';
  font-size: 50px;
  position: relative;
}
.sec-tit h2:after{
  content: '';
  position: absolute;
  right: -17px;
  bottom: 7px;
  width: 15px;
  height: 15px;
  background: url(../img/doughnut.png) no-repeat center/cover;
  animation: doughnut-ani 1s linear alternate infinite;
}
.sec-tit p{
  font-size: 21px;
  margin-top: 5px;
  text-transform: uppercase;
}
.btn{
  display: inline-flex;
  align-items: center;
  background-color: #ED27CF;
  padding: 5px 15px;
  border-radius: 50px;
  color: #fff;
  margin-top: 40px;
  position: relative;
  box-shadow: 0 2px 5px #ED27CF;
}
.btn:after{
  content: '\f111';
  font-family: fontawesome;
  color: #fff;
  font-size: 3px;
  margin-left: 10px;
  transition: 0.3s;
}
.btn:hover:after{
  content: '\f0a9';
  font-size: 18px;
}

/* sub-location */
.sub-location{
  padding-top: 100px;
  width: 1300px;
  margin: auto;
}
.sub-location ul{
  display: flex;
  height: 30px;
  align-items: center;
  gap: 10px;
}
.sub-location ul li{
  font-size: 14px;
}
.sub-location ul li img{
  width: 20px;
  margin-top: 5px;
}

/* sub-tit */
.sub-tit{
  width: 1300px;
  margin-bottom: 100px;
}
.sub-tit strong{
  font-family: 'OneStoreMobileGothicTitleFont';
  font-size: 35px;
}
.sub-tit p{
  font-size: 20px;
  margin-top: 10px;
}
.sub-tit.txt-cetner{
  text-align: center;
}

/* tab */
.tab li{
  font-family: 'OneStoreMobileGothicBody';
  font-size: 17px;
  padding: 25px 0;
  position:relative;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
.tabSec-col .tab li.active,
.tabSec-col .tab li:hover{
  color: #8652FF;
  border-bottom: 2px solid #8652FF;
}
.tabSec-row .tab li.active,
.tabSec-row .tab li:hover{
  color: #617CFF;
  border-bottom: 2px solid #617CFF;
}
.tab-contents>div{display: none;}
.tab-contents>div.active{display: block;}

/* common list */
.list>li{
  background-color: #fff;
  transform: translate(0);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 0.3s;
}
.list>li:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 7px rgba(134,82,255,0.4);
}
.card-list>li:hover{transform: translateY(0);}
#point1-tab2 .point-how li:hover{ box-shadow: 0 0 7px rgba(237,39,207,0.4);}

/* top-btn */
.top-btn{
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 90;
  opacity: 0.7;
  transition: 0.3s;
}
.top-btn div{position: relative;}
.top-btn div:before{
  content: '\f062';
  font-family: fontawesome;
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
.top-btn div img{
  width: 70px;
  animation: spin 30s linear infinite;
}
.top-btn:hover{
  opacity: 1;
}

