/* visual---------------------------- */
.main.mainVisual{
  width: 100%;
  height: 100vh;
  background: url(../img/main-visual.png) no-repeat center/cover;
  position: relative;
  transition: 0.35s;
}
.main .visualWrap{
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translateX(-50%);
  width: 1300px;
  height: calc(100vh - 120px);
}
.main .visual-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  width: 100%;
  color: #fff;
  text-align: center;
}
.main .visual-text p{
  font-family: 'OneStoreMobileGothicTitleFont';
  font-size: 30px;
  margin-bottom: 15px;
}
.main .visual-text strong{
  font-family: 'Cafe24Danjeonghae';
  font-size: 90px;
  text-shadow: 0 0 20px rgba(255,255,255,0.3);
  display: inline-block;
}
.visual-scroll{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
}
.visual-scroll p{
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  color: #fff;
  font-size: 11px;
}
.scroll-down{
  position: relative;
  width: 2px;
  height: 80px;
}
.scroll-down span{
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
}
.scroll-down span:first-child{
  background-color: rgb(0,85,221,0.5);
}
.scroll-down span:last-child{
  background: linear-gradient(0deg, transparent 0%, #fff 50%, transparent 100%);
  background-size: 100% 200%;
  animation: slideDown 2s linear infinite;
}

/* mainSection--------------------------------------------- */
/* mainSec1--------------- */
.mainSec1{
  padding-bottom: 0;
}
.prismWrap{
  position: relative;
  width: 100%;
  height: 750px;
  margin-top: 50px;
}
.prism-list{
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.prism-list li{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  color: #fff;
  transition: 0.3s;
}
.prism-list li:not(:last-child){border-right: 1px solid rgba(255,255,255,0.5);}
.prism-list li.active{
  background-color: rgba(0,0,0,0.5);
  flex: 2;
}
.prism-list li .txt-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.prism-list li .txt-box p{
  font-family: 'OneStoreMobileGothicTitleFont';
  text-transform: uppercase;
  font-size: 28px;
}
.prism-list li .txt-box span{
  font-size: 18px;
}
.prism-list li .txt-box .keywords{
  opacity: 0;
  cursor: default;
  transform: translateY(30px);
  transition: 0.5s;
}
.prism-list li .txt-box .keywords span{
  text-transform: capitalize;
  padding: 5px 10px;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 50px;
  background: rgba(0,0,0, 0.1);
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
}
.prism-list li .txt-box .keywords.active{
  opacity: 1;
  transform: translateY(0);
}
.prismImg{
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.prismImg img{
  width: inherit;
  height: inherit;
  object-fit: cover;
}
/* mainSec1 hover------------------- */
.prism-list li .txt-box .keywords span:hover{background: rgba(237, 39, 207, 0.50);}

/* mainSec2--------------- */
.mainSec2{
  background-color: #fff;
  height: 800px;
  overflow: hidden;
  position: relative;
}
.mainSec2 .sec-inner{
  display: flex;
  height: 800px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.mainSec2 .sec-tit{
  color: #0c0c0c;
  text-align: left;
  padding-top: 200px;
}
.mainSec2 .sec-tit h2{
  line-height: 1.2;
}
.mainSec2 .sec-tit h2 span{
  background: linear-gradient(90deg, #ED27CF 10%, #8652FF 80%);
  background-clip: text;
  color: transparent;
}
.mainSec2-right{
  mask-image: linear-gradient(0deg, transparent, #fff 20%, #fff 80%, transparent);
  height: 800px;
}
.cate-list{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  animation: ySlide 25s linear infinite;
  padding: 10px;
}
.cate-list li{
  width: 450px;
  height: 350px;
  background: #fff;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}
.cate-list li:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border-radius: 25px;
  background: linear-gradient(90deg, #ED27CF 10%, #8652FF 80%);
  opacity: 0;
  z-index: -1;
  transition: 0.4s;
}
.cate-list li a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cate-list li img{
  height: 150px;
  object-fit: cover;
}
.cate-list li p{
  font-family: 'OneStoreMobileGothicBody';
  font-weight: bold;
  font-size: 25px;
  margin-top: 25px;
}
/* mainSec2 hover--------------- */
.mainSec2-right:hover .cate-list{animation-play-state: paused;}
.cate-list li:hover:before {opacity: 1;}

/* mainSec3--------------- */
.mainSec3{
  width: 100%;
  background: linear-gradient(180deg, #BA52FF 0%, #B697FF 100%);
  position: relative;
  padding-bottom: 100px;
}
.mainSec3:before,
.mainSec3:after{
  content: '';
  position: absolute;
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.mainSec3:before{
  bottom: 0;
  left: 0;
  background-image: url(../img/main-event-bg-left.png);
  background-position: bottom left;
}
.mainSec3:after{
  top: 0;
  right: 0;
  background-image: url(../img/main-event-bg-right.png);
  background-position: top right;
}
.eventSlideWrap{
  position: relative;
  overflow: hidden;
}
.event-list{
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
}
.event-list li{
  flex: 1;
  margin-right: 25px;
}
.event-list li .img-box img{
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  border-radius: 20px;
}
.event-list li .btn{
  width: 100%;
  padding: 10px 15px;
  justify-content: space-between;
}
.eventSlideWrap .slide-btn{
  text-align: right;
}
.eventSlideWrap .slide-btn a{
  opacity: 0.7;
  transition: 0.2s;
}
.eventSlideWrap .slide-btn a:first-child img{
  transform: rotate(180deg);
}
.eventSlideWrap .slide-btn a img{
  width: 55px;
  object-fit: cover;
}
/* mainSec3 hover------------- */
.eventSlideWrap .slide-btn a:hover{opacity: 1;}

/* mainSec4--------------- */
.mainSec4{
  width: 100%;
  overflow: hidden;
}
.img-slide{
  animation: xSlide 25s linear infinite;
  display: flex;
  gap: 40px;
}
.img-slide-list{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
.img-slide-list li{transition: 0.3s;}
.img-slide-list .img-box{
  width: 400px;
  height: 600px;
  position: relative;
}
.img-slide-list .img-box .iconText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}
.img-slide-list .img-box .iconText span{
  font-family: 'OneStoreMobileGothicBody';
  font-size: 15px;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  position: absolute;
  transition: 0.4s;
}
.img-slide-list .img-box .iconText span:first-child{
  color: #617CFF;
  background-color: #fff;
  font-size: 25px;
  top: 100px;
  right: -20px;
  transform: translate(-100px,100px) scale(0);
}
.img-slide-list .img-box .iconText span:nth-child(2){
  background-color: #ED27CF;
  left: -20px;
  top: 50%;
  transform: translate(100px,-50px) scale(0);
}
.img-slide-list .img-box .iconText span:last-child{
  background-color: #8652FF;
  right: -25px;
  bottom: 100px;
  transform: translate(-100px,-50px) scale(0);
}
.img-slide-list .img-box img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  clip-path: polygon(13% 0, 87% 0, 100% 10%, 100% 90%, 87% 100%, 13% 100%, 0 90%, 0 10%);
}
/* mainSec4 hover----------- */
.img-slide-list li:hover{
  transform: scale(1.07);
}
.img-slide-list li:hover .img-box .iconText span{
  transform: translate(0,0) scale(1);
}

/* mainSec5--------------- */
.mainSec5{
  padding: 50px 0 0 0;
}
.appDownWrap{
  margin-top: 50px;
  width: 100%;
  height: 500px;
  background: url(../img/download-app.png) no-repeat center/cover;
  position: relative;
}
.appDownWrap:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgb(9,17,42,0.8);
}
.app-down{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
ul.qr{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}
ul.qr li{
  padding: 20px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
ul.qr li img{
  width: 160px;
}
ul.qr li span{
  font-size: 14px;
}
.app-form{
  margin-top: 100px;
  display: flex;
  align-items: center;
}
.app-form label{
  font-family: 'OneStoreMobileGothicBody';
  font-size: 18px;
  margin-right: 30px;
}
.app-form input{
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px 0 0 50px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(4px);
  padding: 0 20px;
  letter-spacing: 1px;
  color: #fff;
  font-size: 18px;
}
.app-form input::placeholder{color: rgba(255,255,255,0.7);}
.app-form input:focus::placeholder{color: transparent;}
.app-form button{
  width: 150px;
  height: 50px;
  border-radius: 0 50px 50px 0;
  background-color: rgba(237,39,207,0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7px);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.app-form button:hover{background-color :rgb(237,39,207);}
.app-down p{
  width: 100%;
  font-size: 15px;
  margin-top: 30px;
  color: #c9c9c9;
}
