@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* Icon Font CDN */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css');

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html,body{
  width: 100%;
  height: 100%;
}

html{overflow-x:hidden;}

body{font-family: 'Noto Sans KR', sans-serif;}

li{list-style-type: none;}  

a{
  text-decoration: none;  
  color: inherit;   
}

article,aside,details,summary,figcaption,figure,
footer,header,hgroup,main,nav,section{ 
	display:block;  
}

input,button,select,textarea{
  outline: none; background: none; border: none;
  font-family: 'OneStoreMobileGothicBody';
}
p{word-break: keep-all;}
