/* join--------------------- */
.joinVisual{
  width: 100%;
  height: 400px;
  background: linear-gradient(-60deg, #ED27CF 13.11%, #8A38F5 103.82%);
} 
.join-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
.join-title h2{
  font-family: 'OneStoreMobileGothicTitleFont';
  font-size: 32px;
  color: #fff;
}
.join-title .join-nav{
  width: 500px;
  display: flex;
  align-items: center;
}
.join-title .join-nav li{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.join-title .join-nav li i{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #B697FF;
  box-shadow: 0 2px 2px rgba(162, 30, 142, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
}
.join-title .join-nav li:nth-child(5) i{
  background-color: #fff;
  color: #8A38F5;
}
.join-title .join-nav li:nth-child(7) i{
  background-color: #fff;
  color: #8A38F5;
  opacity: 0.7;
}
.join-title .join-nav li:nth-child(2n){
  flex: 0.5;
  border-top: 1px solid #fff;
  margin-top: -25px;
}
.join-title .join-nav li p{
  font-size: 17px;
  color: #fff;
}
.join-title .join-nav li:nth-child(7) p{opacity: 0.7;}

/* join form--------------- */
.joinForm{
  width: 1300px;
  padding-top: 150px;
  margin: auto;
}
.joinForm h3{
  font-family: 'OneStoreMobileGothicBody';
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #0c0c0c;
}
.joinForm>p{
  text-align: center;
  margin-bottom: 80px;
  color: #666;
  font-size: 15px;
}
.joinForm>p span a{
  color: #333;
  font-weight:700;
  padding-left: 10px;
}
.joinForm form{
  display: block;
  margin-top: 80px;
}
.joinForm form .join-item{
  padding: 20px 0
}

.joinForm form .join-item label{
  display: inline-block;
  font-weight: bold;
  width: 200px;
  margin-right: 0;
}
.joinForm form .join-item label span{
  color: #ED27CF;
  padding-right: 10px;
}
.joinForm form .join-item input{
  width: 920px;
  height: 50px;
  padding: 0 10px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #0c0c0c;
  font-size: 16px;
}
.joinForm form .join-item input::placeholder{opacity: 0.5;}
.joinForm form input:focus::placeholder{color: transparent;}
.joinForm form .join-item:nth-child(2) p{
  margin-left: 210px;
  font-size: 14px;
  color: #999;
  padding: 10px 0;
}
.joinForm form .join-item:nth-child(n+2):nth-child(-n+5) input{
  width: 1090px;
  border-radius: 10px;
}
.joinForm form .join-item button{
  width: 170px;
  height: 50px;
  border-radius: 0 10px 10px 0;
  margin-left: -5px;
  transform: translateY(-1px);
  color: #fff;
  background-color: #ed27cf;
  cursor: pointer;
}
.joinForm form .join-item:last-child{
  display: flex;
  justify-content: center;
}
.joinForm form .join-item:last-child button{
  width: 300px;
  height: 60px;
  border-radius: 10px;
  margin-top: 80px;
  font-size: 20px;
  font-weight: bold;
}

/* about1-------------------------------- */
.aboutVisual{
  width: 100%;
  height: 500px;
  background: url(../img/sub-about-visual.png) no-repeat center/cover;
  position: relative;
}
.aboutVisual .visualWrap{
  position: absolute;
  right: 10%;
  top: 150px;
  /* width: 1000px; */
  height: 100%;
  color: #fff;
}
.aboutVisual .visual-text strong{
  font-family: 'OneStoreMobileGothicTitleFont';
  font-size: 50px;
  line-height: 1.3;
  display: inline-block;
}
.aboutVisual .visual-text p{
  font-family: 'OneStoreMobileGothicBody';
  font-size: 25px;
  margin-top: 20px;
}

/* aboutSec1 ---------------------- */
.aboutSec1{
  padding-bottom: 0;
}
.aboutWrap{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 80px;
}
.aboutWrap .txt-box{
  flex: 2;
}
.aboutWrap .txt-box strong{
  font-family: 'OneStoreMobileGothicTitleFont';
  font-size: 25px;
  background: linear-gradient(90deg, #ED27CF 10%, #8652FF 80%);
  background-clip: text;
  color: transparent;
}
.aboutWrap .txt-box p{
  font-size: 17px;
  margin-top: 20px;
  line-height: 1.5;
}
.aboutWrap .img-box{
  flex: 1;
  position: relative;
}
.aboutWrap .img-box img{
  position: absolute;
}
.aboutWrap .img-box img:first-child{
  width: 400px;
  object-fit: cover;
  border-radius: 15px;
  top: 0;
  left: 0;
}
.aboutWrap .img-box img:last-child{
  width: 150px;
  right: -70px;
  top: -70px;
  animation: spin 20s linear infinite;
}

/* aboutSec2--------------- */
.aboutSec2{
  background-color: #0c0c0c;
  padding-bottom: 50px;
}
.aboutSec2 .sub-tit{color: #fff; margin: 0;}
.weAre-list{
  width: 800px;
  height: 850px;
  margin: 50px auto;
  position: relative;
}
.weAre-list li{
  width: 450px;
  height: 300px;
  background-position: center bottom;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weAre-list li:first-child{
  background-image: url(../img/weAre-bg-01.png);
  left: 0;
  top: 0;
}
.weAre-list li:nth-child(2){
  background-image: url(../img/weAre-bg-02.png);
  right: 0;
  top: 30%;
}
.weAre-list li:last-child{
  background-image: url(../img/weAre-bg-03.png);
  left: 0;
  bottom: 10px;
}
.weAre-list li .txt-box{
  color: #fff;
  width: 400px;
  height: 250px;
  overflow: hidden;
}
.weAre-list li .txt-box span{
  font-size: 15px;
  text-transform: uppercase;
  padding:0 5px;
  border: 1px solid #fff;
  border-radius: 50px;
}
.weAre-list li .txt-box p:first-of-type{
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'OneStoreMobileGothicTitleFont';
  line-height: 1.2;
  margin-top: 160px;
  transition: 0.4s;
}
.weAre-list li .txt-box p:last-of-type{
  font-family: 'OneStoreMobileGothicBody';
  line-height: 1.5;
  margin-top: 5px;
}
/* aboutSec2 hover---- */
.weAre-list li .txt-box:hover p:first-of-type{
  margin-top: 100px;
}

/* aboutSec3-------------------- */
.aboutSec3{
  padding: 150px 0 50px 0;
}
.aboutSec3 .sec-tit{
  color: #0c0c0c;
}
.plusWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
  width: 100%;
  height: 600px;
}
.plus-item{
  width: 450px;
  height: 400px;
  position: relative;
}
.plus-item .txt-box{
  background-color: #fff;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  transition: 0.4s;
}
.plus-item .txt-box img{
  width: 80px;
}
.plus-item .txt-box strong{
  font-family: 'OneStoreMobileGothicTitleFont';
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.plus-item .img-box{
  position: absolute;
  right: 0;
  top: 0;
}
.plus-item .img-box img{
  width: 450px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
/* aboutSec3 hover---- */
.plus-item:hover .txt-box{left: -100px;}

/* aboutSec4------------------- */
.aboutSec4{
  width: 100%;
  height: 700px;
  background: url(../img/download-app.png) no-repeat center/cover;
  position: relative;
  padding-top: 70px;
}
.aboutSec4:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgb(9,17,42,0.8);
}
.aboutSec4 .sec-tit{
  margin-top: 0;
}
.aboutSec4 .app-down{
  top: 60%;
}

/* sub-vis------------------------------- */
.subVisual1{
  width: 100%;
  height: 200px;
  background: url(../img/sub-visual-01.png) no-repeat center/cover;
}
.subVisual2{
  width: 100%;
  height: 200px;
  background: url(../img/sub-visual-02.png) no-repeat center/cover;
}
.subVisual3{
  width: 100%;
  height: 200px;
  background: url(../img/sub-visual-03.png) no-repeat center/cover;
}

/* about2--- */
/* aboutSec5------------------- */
.tabSec-col{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.tabSec-col .tab-header{
  width: 230px;
  position: sticky;
  top: 150px;
}
.brand-list{
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.brand-list li{
  width: 200px;
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand-list li .img-box{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
.brand-list li .img-box img{
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.brand-list li .brand-txt{
  text-align: center;
  margin-top: 20px;
}
.brand-list li .brand-txt strong{
  font-family: 'OneStoreMobileGothicBody';
  font-weight: bold;
  color: #222;
  font-size: 18px;
  font-weight: bold;
}
.brand-list li .brand-txt p{
  font-family: 'OneStoreMobileGothicBody';
  margin-top: 10px;
  font-size: 15px;
}
.brand-list li .brand-txt p span{
  color: #8A38F5;
  font-weight: bold;
}

/* point1----------------------------- */
/* pointSec1--------- */
.point-how{
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.point-how li{
  width: 250px;
  padding: 25px;
  position: relative;
}
.point-how li:not(:last-child):after{
  content: '\f054';
  font-family: fontawesome;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.point-how li .tit{
  font-family: 'OneStoreMobileGothicTitleFont';
  font-size: 25px;
  margin-bottom: 10px;
  color: #8A38F5;
}
.point-how li p{font-size: 15px;}
.point-how li p span{
  font-weight: 500;
  color: #ED27CF;
}
#point1-tab2 .point-how li .tit{color: #ED27CF;}
#point1-tab2 .point-how li p span{color: #8A38F5;}

/* pointSec2-------------- */
.pointSec2{
  padding-top: 0;
}
.pointSec2 h2{
  text-align: center;
  font-family: 'OneStoreMobileGothicTitleFont';
  font-size: 30px;
}
.use-point{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.use-point>li{
  flex: 1;
  height: 550px;
  padding: 20px;
}
.use-point>li:not(:last-child){border-right: 1px solid #ccc;}
.use-point>li .tit{
  font-family: 'OneStoreMobileGothicTitleFont';
  text-align: center;
  font-size: 20px;
  color: #8A38F5;
  margin-bottom: 10px;
}
.use-point>li .tit i{
  display: block;
  font-size: 45px;
  margin-bottom: 10px;
}
.use-point .txt-box li{
  list-style-type: circle;
  font-size: 14px;
  color: #555;
  padding: 5px 0;
  word-break: keep-all;
}
.txt-box2 .tit2{
  list-style-type: none;
  padding: 5px 0;
}
.txt-box2 .tit2:first-child{padding: 0;}

/* point2------------------------------ */
.pointSec3{padding-top: 100px;}
.card-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.card-list>li{
  width: 600px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 25px;
  cursor: pointer;
}
.card-list li .card-item{
  display: flex;
  justify-content: center;
  column-gap: 30px;
  font-size: 15px;
}
.card-list li img{height: 150px;}
.card-list li .txt-box span{
  font-size: 14px;
  color: #fff;
  padding: 3px 8px;
  border-radius: 30px;
}
.card-list li .txt-box span.credit-card{background-color: #617CFF;}
.card-list li .txt-box span.check-card{background-color: #ED27CF;}
.card-list li .txt-box strong{
  font-family: 'OneStoreMobileGothicBody';
  font-size: 20px;
  font-weight: bold;
}
.card-list li .txt-box p{margin-top: 10px;}
.card-list li .txt-box a.btn{
  border-radius: 5px;
  box-shadow: none;
  background-color: rgba(12,12,12,0.8);
  transition: 0.3s;
}
.card-list li .txt-box .benefit{
  display: none;
  margin-top: 25px;
}
.card-list li .txt-box .benefit li{
  padding: 5px 0;
  color: #555;
}
.card-list li .txt-box .benefit li em{
  color: #8A38F5;
  font-style: normal;
  font-weight: 700;
}
/* pointSec3 hover---------- */
.card-list li.active{height: 350px;}
.card-list li .txt-box a.btn:hover{background-color: #0c0c0c;}

/* event1---------------- */
/* eventSec1------ */
.eventSec1{padding-top: 100px;}
.tabSec-row .tab{
  display: flex;
  justify-content: center;
  column-gap: 80px;
  margin-top: -50px;
}
.tabSec-row .tab-contents{margin-top: 80px;}
.event-count{font-size: 15px; font-weight: 600;}
.event-count span{font-weight: 400;}
.sub-event-list{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.sub-event-list li{
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
}
.sub-event-list .img-box{
  overflow: hidden;
  height: 220px;
}
.sub-event-list .img-box img{
  width: 100%;
  transition: 0.3s;
}
.sub-event-list .event-txt{padding: 20px 15px;}
.sub-event-list .event-txt strong{
  font-family: 'OneStoreMobileGothicBody';
  font-size: 18px;
  font-weight: bold;
}
.sub-event-list .event-txt p{
  font-size: 15px;
  color: #555;
  margin-top: 15px;
}
.sub-event-list li:hover img{
  transform: scale(1.05);
}
.prize{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 28px;
}
.prize i{
  color: #617CFF;
  font-size: 50px;
}

.eventSec2{padding-top: 100px;}
.stamp-nav{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.stamp-nav li{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.stamp-nav li i{
  padding: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #617CFF;
}
.stamp-nav li p{
  font-family: 'OneStoreMobileGothicBody';
  font-size: 20px;
  font-weight: bold;
  color: #617CFF;
}
.stamp-nav li:nth-child(2n){
  width: 50px;
  border-top: 2px solid #617CFF;
  margin-top: -25px;
}
.stamp-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.stamp-list li{
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #ccc;
}
.stamp-list .img-box{
  overflow: hidden;
  height: 300px;
}
.stamp-list img{
  height: inherit;
  transition: 0.3s;
}
.stamp-list .stamp-txt{
  padding: 20px 15px;
  text-align: center;
}
.stamp-list .stamp-txt strong{
  font-family: 'OneStoreMobileGothicBody';
  font-size: 25px;
  font-weight: bold;
}
.stamp-list .stamp-txt p{
  font-size: 17px;
  color: #555;
  margin-top: 15px;
}
.stamp-list li:hover img{
  transform: scale(1.05);
}
.stamp-list a.btn{
  width: 100%;
  border-radius: 10px;
  padding: 10px 15px;
  justify-content: space-between;
  background-color: #617CFF;
  box-shadow: none;
}

/* notice ---- */
.noticeSec1{padding-top: 100px;}
.notice-top{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 0 10px 30px 10px;
  border-bottom: 2px solid #0c0c0c;
}
.notice-count{font-weight: 600;}
.notice-count span{font-weight: 400;}
.notice-top .right select{
  border-bottom: 1px solid #ccc;
  padding: 5px 50px 5px 0;
  margin-right: 20px;
  text-align: left;
}
.notice-top .right input{
  padding: 5px 50px 5px 0;
  border-bottom: 1px solid #ccc;
}
.notice-top .right i{font-size: 15px;}
.notice-contents{text-align: center;}
.notice-contents .con-top{
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  font-weight: 600;
  border-bottom: 1px solid #0c0c0c;
}
.notice-contents .con-list li{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  transition: 0.3s;
}
.notice-contents span:first-child{width: 15%;}
.notice-contents .con-list span:first-child em{
  font-weight: 600;
  color: #ED27CF;
  font-style: normal;
}
.notice-contents .con-list span:nth-child(2){text-align: left;}
.notice-contents span:nth-child(2){width: 65%;}
.notice-contents span:last-child{width: 20%;}
.notice-contents .con-page{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 15px;
}
.notice-contents .con-page i{
  color: #0c0c0c;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}
.notice-contents .con-page span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0c0c0c;
  color: #fff;
  line-height: 20px;
}
.notice-contents .con-list li:hover{background-color:rgba(97, 124, 255,0.1);}
.notice-contents .con-page i:hover{opacity: 1;}

/* noticeSec2 */
.noticeSec2{
  width: 1300px;
  margin: auto;
  padding-top: 100px;
}
.askWrap h3{
  font-family: 'OneStoreMobileGothicBody';
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #0c0c0c;
}
.ask-item{
  display: flex;
  justify-content: flex-start;
}
.ask-item:not(:nth-of-type(4)){border-bottom: 1px solid #eee;}
.ask-item label{
  width: 250px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-weight: 500;
  background-color: #A0B0FF;
}
.ask-item .ask-text-box{
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 14px;
}
.ask-item .ask-text-box select{
  border-bottom: 1px solid #ccc;
  padding: 0 30px 5px 0;
}
.ask-item .ask-text-box input:not([type=checkbox]){
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
}
.ask-item .ask-text-box textarea{
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  width: 100%;
}
.ask-text-box input[type=checkbox]{
  appearance: none;
  border: none;
  padding: 9px;
  background: url(../img/checkbox-02.png);
  background-position: left;
  margin: 0 5px 0 10px;
}
.ask-text-box input[type=checkbox]:checked{background-position: right}
.ask-btns{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.ask-btns button{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}
.ask-btns button[type=submit]{
  background-color: rgba(97, 124, 255,0.7);
  color: #fff;
  transition: 0.3s;
}
.ask-btns button[type=reset]{border: 1px solid #617CFF;}
.ask-btns button[type=submit]:hover{background-color: #617cff;}

.ask-info{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.ask-info>div{
  flex: 1;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ask-info i{
  font-size: 50px;
  color: #617CFF;
}
.ask-info div .txt-box strong{
  display: block;
  font-family: 'OneStoreMobileGothicTitleFont';
  font-size: 20px;
  margin-bottom: 20px;
}
/* mypage */
.mypageSec1{padding-top: 100px;}
.myPointWrap{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  height: 150px;
}
.myPointWrap div{
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
}
.myPointWrap div p{
  position: absolute;
  font-family: 'OneStoreMobileGothicBody';
}
.myPointWrap div p:first-child{
  top: 20px;
  left: 20px;
}
.myPointWrap div p:last-child{
  bottom: 20px;
  right: 20px;
  font-size: 27px;
  font-weight: bold;
    color: #333;
}
.myPointWrap div:first-child{
  flex: 2;
  background-color: #ED27CF;
}
.myPointWrap div:first-child p:first-child{
  color: #fff;
  font-size: 18px;
}
.myPointWrap div:first-child p:last-child{
  color: #fff;
  font-size: 35px;
}
.myPointWrap div:not(:first-child){
  flex: 1;
  background-color: #fff;
  border: 1px solid #ED27CF;
}
.myPointWrap div:hover{box-shadow: 0 3px 7px rgba(237, 39, 207,0.3);}
.myPeriod{
  margin-top: 100px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0c0c0c;
}
.myPeriod>div{
  display: flex;
  gap: 10px;
}
.myPeriod button,
.myPeriod fieldset{
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.myPeriod button.active,
.myPeriod button:hover{
  background-color: #ED27CF;
  color: #fff;
  border: 1px solid transparent;
}
.myUsage{
  height: 300px;
  border-bottom: 1px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.myUsage i{
  font-size: 35px;
  color: #ED27CF;
}